@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primarry-key: #3b6834;
  --title-fast: #1f1f1f;
  --sync-fast: #8c8c8c;
  --white-70: rgba(255, 255, 255, 0.7);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-10: rgba(255, 255, 255, 0.1);
  --Neutral-9: #434343;
  --Neutral-7: #8c8c8c;
  --Polar-Green-1: #f6ffed;
}

body {
  background: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.font_choose_home {
  color: var(--Neutral-11, #1f1f1f);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

.font_home {
  color: var(--Neutral-1, #fff);
  font-size: 48px;
  font-weight: 600;
  line-height: 72px; /* 150% */
}

.font_logo {
  font-family: "Teko", sans-serif;
  font-size: 45.818px;
  line-height: 42px;
}

.font_menu_des {
  font-size: 16px;
  line-height: 24px; /* 150% */
}

.font_title {
  color: var(--primarry-key, #3b6834);
  font-size: 38px;
  font-weight: 500;
  line-height: 46px; /* 121.053% */
}

.font_note_copyright {
  font-size: 12px;
  line-height: 20px; /* 166.667% */
}

.font_number {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.font_detail {
  color: var(--Neutral-11, #1f1f1f);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}

.font_clock_time {
  color: var(--Main, #1e90ff);

  font-size: 18px;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
}

.font_detail_h1 {
  color: var(--Neutral-11, #1f1f1f);
  font-size: 30px;
  font-weight: 500;
  line-height: 40px; /* 133.333% */
}

.font_title_find_team {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.font_title-left_blog {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.font_des_between-blog {
  font-size: 20px;
  line-height: 28px; /* 140% */
}

.font_bottom_blog {
  font-size: 24px;
  line-height: 32px;
}

.font-des-blog-acq {
  color: var(--Neutral-11, #1f1f1f);
  font-size: 38px;
  font-weight: 500;
  line-height: 46px; /* 121.053% */
}

.font_build_home {
  color: var(--Neutral-1, #fff);
  font-size: 38px;
  font-weight: 500;
  line-height: 46px; /* 121.053% */
}

@media (max-width: 767px) {
  .main-container {
    padding: 0px 16px;
  }

  .icon_logo_header,
  .menu,
  .action-login,
  .btn_apply {
    display: none;
  }

  .menu-header {
    display: block;
  }

  .logo_name_header {
    text-align: justify;
    font-family: Teko;
    font-size: 27px;
    line-height: 27px; /* 100% */
  }

  .name_btn2 {
    color: var(--primarry-key, #3b6834);
  }

  .btn_hire {
    padding: 4px 13px;
    gap: 8px;
    flex-shrink: 0;
    background: #fff;
    border: 1px solid var(--primarry-key, #3b6834);
  }

  .header-fixed {
    border-bottom: none;
  }

  .header-content {
    padding: 8px 0px;
  }

  .header-fixed {
    box-shadow: none;
  }

  /* -----find job ----- */

  .row {
    flex-direction: column;
    align-self: stretch;
  }

  .best-factory {
    width: 100%;
  }

  .find-job {
    margin-top: 80px;
  }

  .page.mobile,
  .dots.mobile,
  .page-size-selector {
    display: none;
  }
  .page.none {
    display: block;
  }

  .pagination-container {
    justify-content: center;
  }

  /* -----detail job ----- */

  .main-content-detail-job {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .content-left-detail-jb,
  .content-right-detail-jb {
    width: 100%;
  }
  .detail_job {
    padding-top: 100px;
  }

  .detail_job .main-container {
    padding: 0px;
  }

  /* -----find - team ----- */
  .title-find-team-top {
    display: none;
  }

  .top_main-find-team {
    padding-top: 70px;
  }

  .img_top_jb {
    overflow-x: auto; /*cho phép cuộn ngang khi ảnh tràn ra ngoài.*/
    scroll-behavior: smooth; /*khi cuộn, chuyển động sẽ mượt (dùng cho nút điều hướng nếu có)*/
    -webkit-overflow-scrolling: touch; /*tối ưu vuốt mượt cho thiết bị iOS.*/
  }

  .img_item_jb {
    min-width: 80%;
    flex-shrink: 0;
  }

  .detail_jb_img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  /* -----blog ----- */
  .breadcumb-blog {
    display: none;
  }

  .content-top,
  .content-between {
    flex-direction: column;
  }

  .top-left,
  .top-right,
  .content-between-left,
  .img-between-left {
    width: 100%;
  }

  .content-top {
    height: auto;
    margin-top: 80px;
  }

  .blog .main-content-blog .content-best-column .title-find-team-top {
    display: block;
    padding-right: 0;
    width: fit-content; /*căn giữa cả khối*/
    margin: 0 auto;
  }

  .blog .main-content-blog .content-best-column .title-find-team-top .blog-end,
  .blog-acquire .content-bottom .title-find-team-top .blog-end {
    display: none;
  }

  .content-blog-column3 {
    flex-direction: column;
  }

  .img-top-right {
    width: 133px;
  }

  /* -----blog acquỉe talent----- */

  .content-blog-acq-column {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog-acquire .content-bottom {
    margin-top: 70px;
  }

  .blog-acquire .title-find-team-top {
    display: block;
  }

  /* detail  blog acquire */
  .detail-blog-top {
    flex-direction: column;
    gap: 16px;
  }

  .detail-blog-top-right,
  .detail-blog-top-left {
    width: 100%;
  }

  .content-blog-detail-acq-column {
    grid-template-columns: repeat(1, 1fr);
  }

  .main-content-blog-acq {
    margin-top: 70px;
  }

  .detail-blog-top-left {
    display: none;
  }

  .detail-blog-top-left1 {
    display: block;
  }

  .detail-blog-right-title-time {
    gap: 20px;
  }
  /* ------------- */

  .choose-list ul {
    display: grid;
    padding: 0px 40px;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 40px;
  }

  /* ------------------home -------------- */

  body.home #header-placeholder {
    display: none;
  }

  .nd {
    flex-direction: column;
    gap: 60px;
  }

  .hero {
    margin-top: 0;
  }

  .main-fixed .menu-logo {
    display: block;
    display: flex;
    justify-content: space-between;
  }

  .img-companies {
    width: 100%;
  }

  .meun-choose .slg ul {
    flex-direction: column;
    flex: 1 0 0;
    gap: 16px;
  }

  .find-des-top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    column-gap: 40px;
  }

  .find-home-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .main-fixed .slg ul .slg-item:nth-child(2),
  .main-fixed .slg ul .slg-item:last-child {
    border-left: none;
  }

  .content-bul-img {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .build-title,
  .content-build {
    width: 100%;
  }

  .how-list ul {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
  }
  .nd-team {
    flex-direction: column;
    gap: 20px;
  }
  .des-team {
    width: 100%;
  }
  .img-team {
    width: 100%;
  }

  .hero-content {
    width: 100%;
  }

  .btn_left {
    flex-direction: column;
    gap: 20px;
  }

  .content-how,
  .choose-companies {
    text-align: center;
  }

  .font_title {
    font-size: 31px;
  }
  .font_menu_des {
    font-size: 12px;
  }
  .find-home-top {
    text-align: center;
  }

  .font_des_between-blog {
    font-size: 18px;
  }
  .font_build_home {
    font-size: 30px;
  }

  .font_title-left_blog {
    font-size: 20px;
  }

  .font_home {
    font-size: 42px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    padding: 0px 25px 0px 25px;
  }

  .icon_logo_header,
  .menu,
  .action-login {
    display: none;
  }

  .img_logo_header {
    height: 38px;
  }

  .menu-header {
    display: block;
    width: 100%;
    height: 100%;
  }

  .header-content {
    padding: 8px 0px;
  }

  /* -----find job ----- */

  .column {
    width: 100%;
  }

  .blog-first,
  .gird_find_team_cl3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 cột bằng nhau */
    gap: 20px; /* khoảng cách giữa các ô và các hàng */
  }

  /* -----detail job ----- */
  .des-top {
    font-size: 14px;
  }

  .title-bulding-right {
    font-size: 16px;
  }

  .content-left-detail-jb {
    width: 56%;
  }

  .content-right-detail-jb {
    width: 42%;
  }

  /* -----blog ----- */
  .top-left {
    width: 43%;
  }
  .top-right {
    width: 63%;
  }

  /* -----blog Acquire talent ----- */
  .content-blog-acq-column {
    grid-template-columns: repeat(2, 1fr);
  }

  /* detail  blog acquire */
  .content-blog-detail-acq-column {
    grid-template-columns: repeat(2, 1fr);
  }

  .detail-blog-top-right {
    width: 65%;
  }
  /* ------------------home -------------- */

  body.home #header-placeholder {
    display: none;
  }

  .nd {
    flex-direction: column;
    gap: 60px;
  }

  .hero {
    margin-top: 0;
  }

  .main-fixed .menu-logo {
    display: block;
    display: flex;
    justify-content: space-between;
    margin-top: -24px;
  }

  .img-companies {
    width: 100%;
  }

  .meun-choose .slg ul {
    flex-direction: column;
    flex: 1 0 0;
    gap: 16px;
  }

  .main-fixed .slg ul .slg-item:nth-child(2),
  .main-fixed .slg ul .slg-item:last-child {
    border-left: none;
  }

  .choose-companies .choose-list ul {
    display: grid;
    padding: 0px 40px;
    padding-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
  }

  .hero-content {
    width: 100%;
  }

  .btn_left {
    flex-direction: column;
    gap: 20px;
  }

  .how-list ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .nd-team {
    flex-direction: column;
    gap: 30px;
  }
  .des-team {
    width: 100%;
  }
  .img-team {
    width: 100%;
  }

  .find-des-top {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .main-container {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
  }

  .icon_logo_header,
  .menu {
    display: none;
  }

  .img_logo_header {
    height: 38px;
  }

  .menu-header {
    display: block;
    width: 100%;
    height: 100%;
  }

  /* -----find job ----- */

  .socials {
    flex-wrap: nowrap;
  }
  .column {
    width: 100%;
  }

  .blog-first,
  .gird_find_team_cl3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* khoảng cách giữa các ô và các hàng */
  }

  /* -----blog ----- */
  .top-left {
    width: 55%;
  }
  .top-right {
    width: 52%;
  }
}

@media (min-width: 1440px) {
  .main-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  /* -----find job ----- */
  .row {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .blog-first,
  .gird_find_team_cl3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cột bằng nhau */
    gap: 20px; /* khoảng cách giữa các ô và các hàng */
    width: 100%;
  }
}
